@{
    ViewData["Title"] = "eLearning";
}

<div class="text-center py-5">
    <h1 class="display-4">Plateforme eLearning</h1>
    <p class="lead">Consultez et ajoutez vos premiers cours depuis l'interface MVC.</p>
    <a class="btn btn-primary btn-lg" asp-controller="Courses" asp-action="Index">Voir les cours</a>
</div>
